<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424752850538-aatvs2jafbokd01p4s1mmkql452kcf01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424752850538-aatvs2jafbokd01p4s1mmkql452kcf01</string>
	<key>API_KEY</key>
	<string>AIzaSyCUBa1xtzNcCxELqT19vtI9LoBWoDq0I_E</string>
	<key>GCM_SENDER_ID</key>
	<string>424752850538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ficruty.spark</string>
	<key>PROJECT_ID</key>
	<string>spark-83505</string>
	<key>STORAGE_BUCKET</key>
	<string>spark-83505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424752850538:ios:46063e8886adad80588c13</string>
	<key>DATABASE_URL</key>
	<string>https://spark-83505-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>